.activity{
  background-color: #715A5A;
  border: 5px solid #37353E;
  border-radius: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10%;
  padding: 2%;
  color: #D3DAD9;
}

.flex {

	display: flex;
	gap: 10px;
}
