.activity{
  background-color: #715A5A;
  border: 5px solid #37353E;
  border-radius: 10%;
  height: 33rem;
  width:30rem ;
  padding-left: 2%;
  color: #D3DAD9;
}

.flex {

	display: flex;
	gap: 10px;
}
