header {
  background-color: #a5b68d;
  padding: 30px;

  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 26%;
  height: 0px;
  background: #c1cfa1;
  position: sticky;
  top: 0px;
}

.felx {
  justify-content: center;
  align-content: center;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ede8dc;
}

ul li a:hover:not(.active) {
  background-color: #a5b68d;
}

ul li a.active {
  background-color: #e7cccc;
}

nav li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  padding-bottom: 10%;
}

article {
  float: left;
  padding: 20px;
  width: 74%;
  background-color: #e7cccc;
  height: 40%;
  margin-left: 26%;
  margin-right: 1%;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  height: 50px;
  width: 125rem;
  border: solid 2px #a5b68d;
  background-color: #a5b68d;
  position: fixed;
  bottom: 0px;
  padding: 0px;
  text-align: center;
}

@media (max-width: 600px) {
  nav,
  article {
    width: 100px;
    height: auto;
  }
}

a:hover {
  background-color: #a5b68d;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  article {
    width: 100%;
    height: auto;
    position: relative;
  }

  nav ul li a {
    float: left;
    padding: 15px;
  }
}

.act {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
