div {
	display: flex;
	gap: 10px;
    margin: 5%;
}

.fruits {
	border-color: #eebbff;
	border-radius: 20px;
	border-style:dotted ;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #555879;
	padding: 10px;
	width: 30rem;
	height: 19rem;
	
}

.rice {
	border-color: #9ECAD6;
	border-radius: 20px;
	border-style: dotted;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #555879;
	padding: 10px;
	width: 30rem;
	height: 18rem;
	
}

.basic {
	border-color:  #9ECAD6;
	border-radius: 20px;
	border-style: dotted;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #555879;
	padding: 10px;
	width: 300px;
	height: 13rem;
}