.single {
	border-color: #A45EE4;
	border-radius: 20px;
	border-style: solid;
	border-radius: 15px;
	margin-bottom: 20px;
}
.single div {
	display: flex;
	gap: 25px;
}

.left {
	padding-left: 10px;
	width: 15px;
	border: solid #A45EE4;
	margin-left: 10px;
	border-radius: 15px;
	width: 110px;
	height: 77px;
}

.right {
	padding-right: 15px;
	border: solid #A45EE4;
	border-radius: 15px;
	width: 10%;
	height: 100px;
}

.top {
	padding-top: 25px;
	border: solid #A45EE4;
	border-radius: 15px;
	width: 100px;
}

.bottom {
	padding-bottom: 35px;
	border: solid #A45EE4;
	border-radius: 15px;
	width: 8%;
}

.multi {
	border-color: #A45EE4;
	border-radius: 20px;
	border-style: solid;
	border-radius: 15px;
	margin-bottom: 20px;
	width: 84.1%;
	height: 20rem;
}

.multi div {
	display: flex;
	gap: 25px;

}

.topright {
	padding-right: 10px;
	width: 50px;
	border: solid #A45EE4;
	margin-left: 10px;
	border-radius: 15px;
	width: 110px;
	height: 7rem;
	padding-top: 10px;
}

.bottoms {
	padding-right: 15px;
	padding-bottom: 15px;
	width: 50px;
	border: solid #A45EE4;
	margin-left: 10px;
	border-radius: 15px;
	width: 110px;
	height: 7.3rem;
	
}

.bottomleft {
	padding-left: 25px;
	padding-bottom: 25px;
	width: 50px;
	border: solid #A45EE4;
	margin-left: 10px;
	border-radius: 15px;
	width: 110px;
	height: 7.2rem;
}

.lefts {
	padding-left: 35px;
	padding-top: 35px;
	width: 50px;
	border: solid #A45EE4;
	margin-left: 10px;
	border-radius: 15px;
	width: 110px;
	height: 9.6rem;

}

.all {
	border-color: #A45EE4;
	border-radius: 20px;
	border-style: solid;
	border-radius: 15px;
	width: 56rem;

}

.side {
	padding:25px;
	width: 50px;
	border: solid #A45EE4;
	margin-left: 10px;
	border-radius: 15px;
	width: 10rem;
	height: 7rem;
}