body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url("https://cdn1.epicgames.com/ue/product/Screenshot/Frame%2021-1920x1080-b7fa88d48c8380dc617f8a7152e2375c.jpg?resize=1&w=1920");
    color: #D4A017;
    

    
}
.game-container {
    display: flex;
    justify-content: space-around;
    border: 10% solid #000;
    
    
}
.player-container {
    border: 1px solid #000;
    padding: 10px;
    width: 40%;
    background: #f9f9f9;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    
    
}
#game-log {
    border: 1px solid #000;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    background: #f9f9f9;
    margin-top: 20px;
     
     background-color: rgba(255, 255, 255, 0.6);
     

}

button, input, select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.6);
}
.health-bar {
    width: 100%;
    height: 20px;
    background: red;
    margin: 10px 0;
    
}
.health-bar-inner {
    height: 100%;
    background: green;
    width: 100%;
    
}