body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 6px;
  color: #0a0a0a;
  ;
}
.game-container {
  display: flex;
  justify-content: space-around;
  border: 10% solid #000;
}
.player-container {
  border: 1px solid #000;
  padding: 10px;
  width: 40%;
  background: #f9f9f9;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
}
#game-log {
  border: 1px solid #000;
  padding: 10px;
  height: 200px;
  overflow-y: auto;
  background: #f9f9f9;
  margin-top: 20px;

  background-color: rgba(255, 255, 255, 0.6);
}

button,
input,
select {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}
.health-bar {
  width: 100%;
  height: 20px;
  background: red;
  margin: 10px 0;
}
.health-bar-inner {
  height: 100%;
  background: green;
  width: 100%;
}

.weapon-img {
  width: 90px;
  height: 90px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: all 0.3s;
}

.weapon-img:hover {
  transform: scale(1.1);
  border-color: #0a0a0a;
}

.weapon-img.selected {
  border: 3px solid #00ff00;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);

}
