body { 
    font-family: Arial, sans-serif; 
    padding: 1rem; 
    max-width: 700px; 
    margin: auto; 
    background-color: rgb(190, 142, 150); 
}
.example { 
    border: 1px solid black;
    padding: 1rem; 
    margin: 1rem 0; 
    border-radius: 6px; 
}
label, button { 
    display: block; 
    margin-top: 0.5rem; 
}
.result { 
    margin-top: 0.5rem;
    font-weight: bold; 
    white-space: pre-line;
}
