div {
	flex: auto;
	gap: 50px;
}

.fruits {
	border-color: #eebbff;
	border-radius: 20px;
	border-style: dotted;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #eebbff;
	padding: 10px;
	width: 300px;
	height: 230px;
	
}

.rice {
	border-color: #eebbff;
	border-radius: 20px;
	border-style: dotted;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #eebbff;
	padding: 10px;
	width: 300px;
	height: 230px;
}

.basic {
	border-color: #eebbff;
	border-radius: 20px;
	border-style: dotted;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #eebbff;
	padding: 10px;
	width: 300px;
	height: 230px;
}